    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      height:20%;
    }
    .th {
      background-color: rgb(200, 229, 243);
      text-align: center;
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #f9fafc;
      margin: 0;
      padding: 0;
    }
    header, footer {
      background-color: #487cd0db;
      color: white;
      text-align: center;
      padding: 1em 0;
    }
    nav {
      background-color: #5980eb51;
      text-align: center;
      padding: 0.5em 0;
    }
    nav a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
    }
    main {
      padding: 20px;
      max-width: 800px;
      margin: auto;
    }
    section {
      margin-bottom: 30px;
    }
    form {
      text-align: center;
      background-color:#5980eb51;
    }
    h2 {
      color: #487cd0db;
    }
    h3 {
      text-align: centre;
    }
    footer {
      margin-top: 30px;
    }
  
    img{
      border-radius:50% ;
      ;
    }
    .project {
      width: 60%;
      margin: 15px auto;
      padding: 15px;
      background-color: rgba(188, 222, 245, 0.862);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(188, 222, 245, 0.862);
    }
    table{
      border-collapse:collapse;
      border-spacing:20px;
      width:25%;
      margin: 2px 0;
      margin-left: auto;
      margin-right: auto;
      border-color: aliceblue;

    }
    .body {
      font-family: 'google-font', Arial, sans-serif; 
    }
    .pacifico-regular {
      font-family: "Pacifico", cursive;
      font-weight: 400; 
      font-style: normal;
    }
    